<!-- <ion-header> -->
    <!-- <ion-toolbar style="--background: transparent ; background-image: url('../../../assets/login.jpg');"> -->
    <!-- <ion-toolbar>
      <ion-title class="white">Register</ion-title>
      <ion-buttons slot="start">
        <ion-back-button class="white"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->
<div class="mylogin-page">
  
  <div class="login-color" >
    
    <!-- <div class="login-header">Login</div> -->
    <div class="content" style="display: flex;flex-direction: column;">
      <h5>Sign Up</h5>
      <!-- <img style="width: 40%;"src="https://assets-ouch.icons8.com/thumb/962/7b8d4e8b-7b64-4f18-af4c-093f3b213c1a.png"/> -->

      
      <ion-row class="center" >
        <ion-col size="10">
            <ion-item lines="none" style="--background: transparent;" >
                <ion-label  position="floating">First Name</ion-label>
                <ion-input clearInput style="border-bottom: solid 1px black;" [(ngModel)]="firstName"  type="text" ></ion-input>
              </ion-item>
          <!-- <ion-item class="login transparent">

            
            <ion-input clearInput type="text" placeholder="First Name" name="firstname" [(ngModel)]="firstName"></ion-input>
          </ion-item> -->
        </ion-col>
        <ion-col size="10">
            <ion-item lines="none" style="--background: transparent;" >
                <ion-label  position="floating">Last Name</ion-label>
                <ion-input clearInput style="border-bottom: solid 1px black;" [(ngModel)]="lastName"  type="text" ></ion-input>
              </ion-item>
         
            <!-- <ion-input clearInput type="text" placeholder="Last Name" name="lastname" [(ngModel)]="lastName"></ion-input> -->
         
        </ion-col>
        <ion-col size="10">
            <ion-item lines="none" style="--background: transparent;" >
                <ion-label  position="floating">Email</ion-label>
                <ion-input clearInput style="border-bottom: solid 1px black;" [(ngModel)]="email"  type="email" ></ion-input>
              </ion-item>
         <!-- <ion-item class="login transparent"> -->
           <!--   <ion-label class="icon-color">
              <ion-icon name="person"></ion-icon>
            </ion-label> -->
            <!-- <ion-input clearInput type="text" placeholder="Email" name="email" [(ngModel)]="email"></ion-input> -->
            <!-- <ion-label class="icon-color">
              <ion-icon name="person"></ion-icon>
            </ion-label> -->
          <!-- </ion-item> -->
        </ion-col>
        <ion-col size="10">
            <ion-item lines="none" style="--background: transparent;" >
                <ion-label  position="floating">Password</ion-label>
                <ion-input clearInput style="border-bottom: solid 1px black;" [(ngModel)]="password"  type="password"></ion-input>
              </ion-item>
          <!-- <ion-item class="login transparent"> -->
            <!-- <ion-label class="icon-color">
              <ion-icon name="lock"></ion-icon>
            </ion-label> -->
            <!-- <ion-input clearInput type="password" placeholder="Password" name="password" [(ngModel)]="password"></ion-input>
          </ion-item> -->
        </ion-col>
        <ion-col size="10">
            <ion-item lines="none" style="--background: transparent;" >
                <ion-label  position="floating">Confirm Password</ion-label>
                <ion-input clearInput style="border-bottom: solid 1px black;" [(ngModel)]="confirmPassword"  type="password" ></ion-input>
              </ion-item>
          <!-- <ion-item class="login transparent"> -->
            <!-- <ion-label class="icon-color">
              <ion-icon name="lock"></ion-icon>
            </ion-label> -->
            <!-- <ion-input clearInput type="password" placeholder="Confirm Password" name="confirmpassword" [(ngModel)]="confirmPassword"></ion-input>
          </ion-item> -->
        </ion-col>
        <ion-col size="10" style="margin-top: 5%;">
          <!-- <p class="forgot-password" style="margin: 0;padding: 0;">Forgot password?</p> -->
            
          <!-- <ion-button expand="full" type="submit" style="height: 48px;" color="#fff !important" class="butn bg-color" (click)="validate()">Create Account</ion-button> -->
          <ion-item lines="none" style="--background: transparent;" >
          <ion-button expand="full" style="width: 100%;
                --background: #ff5858;" (click)="validate()">
                   Create Account
                  </ion-button>
                </ion-item>
        </ion-col>
        <ion-col size="10" style="color: black;margin-top: -2%;">
          <!-- <p class="forgot-password">Forgot password?</p> -->
          <p style="margin: 0;">Allready have an account? <a class="sign-up-a" style="color: #de6161;font-size: 18px;" (click)="goTologinPage()">Sign In</a><br><br></p>
        </ion-col>
       
        
      </ion-row>
    </div>
    <div class="sign-up">
      
      
    </div>

  </div>
</div>