<ion-header>
  <ion-toolbar class="bg-color">
      <ion-buttons slot="start">
          <ion-back-button class="white"></ion-back-button>
        </ion-buttons>
    <ion-title>Shop Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-row style="padding-top:10px; padding-right: 10px;">
        <ion-col style="padding-left: 10px !important;padding-right: 0 !important;padding-top:0 !important" sizeLg="4"
          sizeMd="4" sizeXs="6" >
          <ion-card  (click)="testDetail()" class="m0">
            <img src="https://rukminim1.flixcart.com/image/309/371/jsj90280/dress/y/a/g/m-sfdrss1483-sassafras-original-imafdzvhy5xghxt6.jpeg?q=50" style="height: 185px !important"  />
            
            <ion-card-header style="padding-top: 0px;padding-bottom: 0;">
              <ion-card-title>
                <h6 style="margin-bottom: -10px;">Full Sleeve Solid Women Jacket
                </h6>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-row>
                  <ion-col size="4" style="padding-left: 0 !important;">
      
                    <ion-badge color="success">4 <ion-icon name="star"></ion-icon>
                    </ion-badge>
      
      
                  </ion-col>
                  <ion-col size="8" style="text-align:right">
                    <label style="color:black"><s style="color:grey">₹ 89</s> ₹60</label>
                  </ion-col>
                </ion-row>
              </ion-card-subtitle>
            </ion-card-header>
          
          </ion-card>
        </ion-col>
        <ion-col style="padding-left: 10px !important;padding-right: 0 !important;padding-top:0 !important" sizeLg="4"
          sizeMd="4" sizeXs="6" >
          <ion-card  (click)="testDetail()" class="m0">
            <img src="https://rukminim1.flixcart.com/image/309/371/jskofww0/dress/b/9/h/xs-sfdrss1477-sassafras-original-imafdzv7hfg9v9ty.jpeg?q=50" style="height: 185px !important"  />
            
            <ion-card-header style="padding-top: 0px;padding-bottom: 0;">
              <ion-card-title>
                <h6 style="margin-bottom: -10px;">Full Sleeve Solid Women Jacket
                </h6>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-row>
                  <ion-col size="4" style="padding-left: 0 !important;">
      
                    <ion-badge color="success">4 <ion-icon name="star"></ion-icon>
                    </ion-badge>
      
      
                  </ion-col>
                  <ion-col size="8" style="text-align:right">
                    <label style="color:black"><s style="color:grey">₹ 99/-</s> ₹59</label>
                  </ion-col>
                </ion-row>
              </ion-card-subtitle>
            </ion-card-header>
           
          </ion-card>
        </ion-col>
      
      </ion-row> 
</ion-content>
