<ion-menu side="start" menuId="custom" class="my-menu"  swipe-gesture="false">
  <div class="my-custom-menu" style="overflow: scroll;">
    <div class="profile" (click)="goToProfile()">
      <img class="profile-picture" src="../assets/profile.png" />
      <h5 class="white" style="margin-top:6px">BWC Commerce</h5>
  </div>

    <ion-list color="red" >
      <ion-item color="red"  lines="none" no-padding *ngFor="let item of menuItem;index as i" class="ion-activatable"  (click)="print(item)">
        <ion-icon [name]="item.logo"></ion-icon>
        <ion-label style="padding-left:10px">{{item.item}}</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </ion-list>
  </div>

</ion-menu>
<ion-router-outlet main></ion-router-outlet>
