<ion-header>
  <ion-toolbar class="bg-color">
    <ion-buttons slot="start">
      <ion-back-button class="white"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;">
    <ion-row style="justify-content: center;">
        <ion-col size="10">
      <ion-item class="login transparent" style="border-radius: 25px;border: solid 2px #de6161">

        <ion-input clearInput type="text" placeholder="Old Password" name="OldPassword" [(ngModel)]="oPassword">
        </ion-input>
      </ion-item>
      </ion-col>
      <ion-col size="10">
      <ion-item class="login transparent" style="border-radius: 25px;border: solid 2px #de6161">

        <ion-input clearInput type="text" placeholder="New Password" name="NewPassword" [(ngModel)]="nPassword">
        </ion-input>
      </ion-item>
      </ion-col>
      <ion-col size="10">
      <ion-item class="login transparent" style="border-radius: 25px;border: solid 2px #de6161">

        <ion-input clearInput type="text" placeholder="Confirm Password" name="ConfirmPassword" [(ngModel)]="cPassword">
        </ion-input>
      </ion-item>
      </ion-col>
      <ion-col size="10">
        <ion-button expand="full" type="submit" style="height: 48px;" color="#fff !important" class="butn bg-color">
          Change Password</ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>