<ion-header>
  <ion-toolbar class="bg-color">
    <ion-buttons slot="start">
      <ion-back-button class="white"></ion-back-button>
    </ion-buttons>
    <ion-title>Filter</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-item lines="none">
    <ion-row style="width:100%">
      <ion-col size="12">
        <h5>Budget</h5>
      </ion-col>
      <ion-col size="12">
        <ion-range dualKnobs="true" pin="true" [(ngModel)]="dualValue2" min="500" max="10000" style="    padding-top: 0;
        padding-bottom: 0;">
        </ion-range>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
          <label>Rs.</label>
          <ion-input type="number" name="min" [(ngModel)]="dualValue2.lower"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6" style="display: flex;justify-content: flex-end;">
        <ion-item lines="none">
          <label>Rs.</label>
          <ion-input type="number" name="max" [(ngModel)]="dualValue2.upper"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-item>

  <div>
    <ion-list>
      <ion-radio-group [(ngModel)]="radio">
        <ion-list-header>
          <ion-label>Sor by</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Popularity</ion-label>
          <ion-radio slot="start" value="populatiry" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Price -- Low to High</ion-label>
          <ion-radio slot="start" value="lowToHigh"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Price -- High to Low</ion-label>
          <ion-radio slot="start" value="highToLow"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Newest first</ion-label>
          <ion-radio slot="start" value="newFirst"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>

  <ion-list>
    <ion-list-header>Shop by Brand</ion-list-header>
    <ion-item>
      <ion-label>Slect Brand</ion-label>
      <ion-select style="padding:0">
        <ion-select-option value="01">Nike</ion-select-option>
        <ion-select-option value="02">Adidas</ion-select-option>
        <ion-select-option value="03">Reebok</ion-select-option>
        <ion-select-option value="04">Ck</ion-select-option>
        <ion-select-option value="05">Lee</ion-select-option>
        <ion-select-option value="06">puma</ion-select-option>
        <ion-select-option value="07">Campus</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item lines="none">
    <ion-button (click)="print()">Check</ion-button>
  </ion-item>

</ion-content>