<ion-header>
  <ion-toolbar class="bg-color">
      <ion-buttons slot="start">
          <ion-back-button class="white"></ion-back-button>
        </ion-buttons>
    <ion-title>all-categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="light-bg">
  <ion-row style="margin-top: 15px">
     
    <ion-col size="3" class="flex-center animated zoomIn" *ngFor="let cat of categories" (click)="goToShopPage()">
      <ion-thumbnail class="border">
        <img [src]="cat.image" />
      </ion-thumbnail>
     <ion-text>
        <p>{{cat.name | titlecase}}</p>
      </ion-text>
    </ion-col>
  
 
  </ion-row>

  
</ion-content>
