.profile-header {
    background-image: url("https://www.meme-arsenal.com/memes/e3518ce532caacba9655087a0d2545e7.jpg");
    // background-image: url("https://images.unsplash.com/photo-1499084732479-de2c02d45fcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");

    
    // height: 23%;
    height: 35%;
    // background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }