<ion-header>
  <ion-toolbar class="bg-color">
      <ion-buttons slot="start">
          <ion-back-button class="white"></ion-back-button>
        </ion-buttons>
    <ion-title>user-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="profile-header">
        <ion-avatar style="width: 120px;
        height: 120px;border: solid 2px white">
            <img src="https://www.sdgpakistan.pk/uploads/team/head-659652__340.png">
          </ion-avatar>
          <h5 style="color:white;margin:0">Dummy User</h5>
    </div>

    <!-- <div>
          <ion-segment color="secondary" [(ngModel)]="page">
              <ion-segment-button value="0" checked (click)="selectedTab(0)">
                <label>Info</label>
              </ion-segment-button>
              <ion-segment-button value="1" (click)="selectedTab(1)">
                <label>Address</label>

              </ion-segment-button>
              <ion-segment-button value="2" (click)="selectedTab(2)">
                <label>Other</label>

              </ion-segment-button>
            </ion-segment>
    </div>
    <ion-slides #slider (ionSlideWillChange)="moveButton()">
        <ion-slide>
          <div style="width:100%">
              <ion-item>
                  <ion-label position="floating">First Name</ion-label>
                  <ion-input name="fname" [(ngModel)]="firstName"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Last Name</ion-label>
                  <ion-input name="lname" [(ngModel)]="lastName"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Email Id</ion-label>
                  <ion-input name="email" [(ngModel)]="email"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Mobile No.</ion-label>
                  <ion-input name="mobile" [(ngModel)]="mobile"></ion-input>
              </ion-item>
          </div>

        </ion-slide>
        <ion-slide>
          <h1>Tab2</h1>
        </ion-slide>
        <ion-slide>
          <h1>Tab3</h1>
        </ion-slide>
        
      </ion-slides> -->
     

</ion-content>
