<ion-header>
  <ion-toolbar class="bg-color">
    <!-- <ion-title>{{{{product.headerType}}}}</ion-title> -->
    <ion-title>Product detail</ion-title>

    <ion-buttons slot="start">
      <ion-back-button class="white"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <div style="height: 90%;overflow: scroll;">
    <ion-card>
      <ion-row style="height: 250px;">
        <ion-col>
          <ion-slides pager="false">
            <ion-slide *ngFor="let product of productImages;">
              <img [src]="product" style="height: 250px;" />
            </ion-slide>
          </ion-slides>
          <div style=" 
        width: 100%;
        font-size: 30px;
        /* padding-top: 5%; */
        text-align: right;
        position: absolute;
        z-index: 99;
        opacity: 0.5;
        /* top: 0px; */
        color: white;
        font-weight: bold;
        /* left: 40%; */
        bottom: -15%;
        padding-right: 24px;
        ">
            <ion-icon name="heart" style="color:rgb(106, 112, 108);font-size:22px" (click)="wishlist(product.id)"
              [ngClass]="{wish: product.wish}"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-card-header>
        <ion-card-title style="width: 90%;">
          <h5 style="margin: 0;">{{product.title}}</h5>
        </ion-card-title>
        <ion-card-subtitle>
          <label>{{product.headerType}}</label>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="4" style="padding-left: 0 !important;">
            <ion-badge color="success">4 <ion-icon name="star"></ion-icon>
            </ion-badge>
          </ion-col>
          <ion-col size="8" style="text-align:right">
            <label style="color:black;font-size: 25px"><s style="color:grey;font-size: 22px">$ 28</s> $
              {{product.price}}</label>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!skeleton">
      <ion-card-subtitle>

       
      </ion-card-subtitle>
      <ion-card-content>
        
        <ng-container>
          <h5 style="margin-bottom: 10px; color:#333333;">Color options</h5>
          <div style="background: red;width:20px; height:20px;border-radius:50%;float: left;margin-right:10px"></div>
          <div style="background: green;width:20px; height:20px;border-radius:50%;float: left;margin-right:10px"></div>
          <div style="background: grey;width:20px; height:20px;border-radius:50%;float: left;margin-right:10px"></div>
          <div style="background: blue;width:20px; height:20px;border-radius:50%;float: left;margin-right:10px"></div>
        </ng-container>
        <br>
        <ng-container>
          <h5 style="margin-bottom: 10px; color:#333333;">Size options</h5>
          <div style="border:solid 1px grey;width:20px; height:20px;float: left;margin-right:10px;text-align:center;"
            class="flex-center" *ngFor="let size of size;">{{size}}</div>
         
        </ng-container>
        <br>
        <ion-item style="width:45%">
            <ion-label>Qty</ion-label>
            <ion-select [(ngModel)]="qty" value="1">
              <ion-select-option value="1" selected>1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3" >3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
            </ion-select>
          </ion-item>
        <ng-container>
         <ion-row style="margin-top:10px;justify-content: space-between;
         display: flex">
           <ion-col size="4" style="text-align: center;
           border: solid 1px grey;align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;">
              <ion-icon name="cash" style="font-size: 20px;"></ion-icon>
              <p>Pay cash</p>
           </ion-col>
           <ion-col size="4"  style="text-align: center;
           border: solid 1px grey;align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;">
              <ion-icon name="undo" style="font-size: 20px;"></ion-icon>
              <p>10 Day return</p>
           </ion-col>
           <ion-col size="4"  style="text-align: center;
           border: solid 1px grey;align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;" (click)="goTest()">
              <ion-icon name="flash" style="font-size: 20px;"></ion-icon>
              <p>lightning delivery</p>
           </ion-col>
         </ion-row>
        </ng-container>
        <br>
       
        <h6 style="margin-bottom: 10px;margin-top:10px; color:#333333;"> Description</h6>
        <p>{{product.discription}}</p>

      </ion-card-content>

    </ion-card>
  </div>
  
  <ion-card style=" padding: 0px;
  margin:0;
   position: absolute;
   bottom: 0;
   width: 100%;
  ">

    <ion-card-content style="padding-top: 0;padding-bottom: 0;" >
      <ion-row *ngIf="!fromCart">
        <ion-col size="6" class="p0">
          <ion-button expand="block" fill="outline" style="width: 95%;" class="checkout-btn"
            (click)="sendToInvoicePage()">Buy Now</ion-button>
        </ion-col>
        <ion-col size="6" class="p0">
          <ion-button expand="block" (click)="addToCart(product)" style="width: 95%;" class="butn bg-color">Add To Cart
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
 


  
</ion-content> -->

<ion-content>
  <ion-row style="margin-top: 10px;">

    <ion-col size="10" style="padding: 10px; display: flex;justify-content: center;">
      <ion-thumbnail style="height: 100%;
          width: 50%;">
        <img [src]="testProductImage" alt="image" style="height: 275px;" />
      </ion-thumbnail>
    </ion-col>
    <ion-col size="2" style="padding-top: 10px;">
      <ion-thumbnail *ngFor="let item of testImageList"
        style="margin-bottom: 3px; display: flex;justify-content: center;" (click)="highlightedOff(item.img)"
        [ngClass]="{'hilight':item.highlighted }">
        <img [src]="item.img" style="    height: 100%;
              width: 50%;">
      </ion-thumbnail>

    </ion-col>
  </ion-row>
  <div style="     width: 100%;
  padding-top: 5%;
  text-align: center;
  position: absolute;
  z-index: 99;
  top: 255px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: right;
  padding-right: 15px;
  ">
    <ion-icon name="heart" style="color:rgb(106, 112, 108);margin-right: 10px;"></ion-icon>
    <ion-icon name="share" style="color:rgb(106, 112, 108)"></ion-icon>
  </div>
  <ion-card style="margin-bottom: 60px;position: sticky;">
    <ion-item>
      <ion-row>
        <ion-col size="8">
          <h6 style="color: #232323;font-weight: 550;">Muli color design product by BWC shop</h6>
        </ion-col>
        <ion-col size="4" style="    display: flex;
       align-items: flex-end;justify-content:flex-end;">
          <h6 style="color: #de6161;font-weight: 550;">Rs. 350.00</h6>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>

      <ion-row style="width:100%">
        <ion-col size="6">
          <h6 style="color: #232323;font-weight: 550;margin:0">Color</h6>
        </ion-col>
        <ion-col size="6" style="text-align: right;">
          <h6 style="color: #232323;font-weight: 550;margin:0">Size options</h6>
        </ion-col>
        <ion-col size="6" style="display: flex;
          align-items: flex-end;">
          <div style="height: 25px;width: 25px;background: #4f39f5; margin-right: 10px; border-radius: 5px;
         box-shadow: 0px 0px 9px #000000;
         display: flex;
    align-items: center;
    justify-content: center;" (click)="checkColor('purple')">
            <ion-icon name="checkmark" style="font-size: 25px;
         color:rgb(255, 255, 255);" *ngIf="color == 'purple'" class="animated wobble"></ion-icon>
          </div>
          <div style=" height: 25px; width: 25px; background: #096f29; margin-right: 10px; 
          border-radius: 5px; box-shadow: 0px 0px 9px #000000;" (click)="checkColor('green')">
            <ion-icon name="checkmark" style="font-size: 25px;
          color:rgb(255, 255, 255);" *ngIf="color == 'green'" class="animated wobble"></ion-icon>
          </div>
          <div style="height: 25px; width: 25px; background: #ff7979;margin-right: 10px;border-radius: 5px;
         box-shadow: 0px 0px 9px #000000;" (click)="checkColor('pink')">
            <ion-icon name="checkmark" style="font-size: 25px;
         color:rgb(255, 255, 255);" *ngIf="color == 'pink'" class="animated wobble"></ion-icon>
          </div>
          <div style="height: 25px;  width: 25px; border-radius: 5px;box-shadow: 0px 0px 9px #000000;
         background: red;" (click)="checkColor('red')">
            <ion-icon name="checkmark" style="font-size: 25px;
         color:rgb(255, 255, 255);" *ngIf="color == 'red'" class="animated wobble"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="6" style="display: flex;
        align-items: flex-end;justify-content: flex-end;">
          <div [ngStyle]="{'border':selectSize === size ? border : 'solid 1px grey' }"
            style="border:solid 1px grey;width:25px; height:25px;float: left;margin-left:10px;text-align:center;"
            class="flex-center" *ngFor="let size of size;" (click)="getColor(size)">{{size}}</div>
        </ion-col>
      </ion-row>
    </ion-item>


    <!-- <ion-item>
      <ion-row style="width:100%;    margin-top: 10px;">
        <ion-col size="8">
          <ion-input style="background: #eaeaea;    position: inherit;height: 35px;--padding-start: 10px !important;;"
            clearInput placeholder="Enter your PIN Code"></ion-input>
        </ion-col>
        <ion-col size="4" style="padding:0">

          <ion-button expand="block" fill="outline" style="height: 35px;">Check</ion-button>
        </ion-col>
        <ion-col size="12">
          Enter your Pin code to check COD and delivery information
        </ion-col>
      </ion-row>
    </ion-item> -->
    <ion-row style="width:100%">
      <!-- <ion-col size="12">
       
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                product Details
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-row>
              <ion-col size="6">Fabric</ion-col>
              <ion-col size="6">Rayon</ion-col>
              <ion-col size="6">Type</ion-col>
              <ion-col size="6">Top and Tshirt</ion-col>
              <ion-col size="6">Sales Package</ion-col>
              <ion-col size="6">1 Kurta||1 Trouser</ion-col>
              <ion-col size="6">Style Code</ion-col>
              <ion-col size="6">6483F-Green</ion-col>
              <ion-col size="6">Pattern</ion-col>
              <ion-col size="6">Solid</ion-col>
              <ion-col size="6">Color</ion-col>
              <ion-col size="6">Red</ion-col>
              <ion-col size="6">Neck</ion-col>
              <ion-col size="6">Key Hole Neck</ion-col>

            </ion-row>
          </mat-expansion-panel>
        </mat-accordion>
      </ion-col> -->
      
      <ion-col size="12">
        <div>
          <ion-segment color="secondary" [(ngModel)]="page">
            <ion-segment-button value="0" checked>
              <label>Details</label>
            </ion-segment-button>
            <ion-segment-button value="1">
              <label>Reviews</label>

            </ion-segment-button>

          </ion-segment>
        </div>

      </ion-col>
      <ion-col size="12" *ngIf="page == 0">
        <ion-row style="text-align: left;">
          <ion-col size="6">Fabric</ion-col>
          <ion-col size="6">Rayon</ion-col>
          <ion-col size="6">Type</ion-col>
          <ion-col size="6">Top and Tshirt</ion-col>
          <ion-col size="6">Sales Package</ion-col>
          <ion-col size="6">1 Kurta||1 Trouser</ion-col>
          <ion-col size="6">Style Code</ion-col>
          <ion-col size="6">6483F-Green</ion-col>
          <ion-col size="6">Pattern</ion-col>
          <ion-col size="6">Solid</ion-col>
          <ion-col size="6">Color</ion-col>
          <ion-col size="6">Red</ion-col>
          <ion-col size="6">Neck</ion-col>
          <ion-col size="6">Key Hole Neck</ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" *ngIf="page == 1">
        <ion-list>
          <ion-list-header>
            Recent Reviews
          </ion-list-header>
          <ion-item>
            <ion-avatar slot="start">
              <img
                src="https://image.shutterstock.com/image-photo/portrait-smiling-red-haired-millennial-260nw-1194497251.jpg">
            </ion-avatar>
            <ion-label>
              <h2>Listen, Good Product Ever seen.</h2>
              <!-- <h4>Finn</h5> -->
              <p>Mr.Gaurav K</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img
                src="https://image.shutterstock.com/image-photo/portrait-smiling-red-haired-millennial-260nw-1194497251.jpg">
            </ion-avatar>
            <ion-label>
              <h2>Listen, Good Product Ever seen.</h2>
              <!-- <h4>Finn</h5> -->
              <p>Mr.Gaurav K</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img
                src="https://image.shutterstock.com/image-photo/portrait-smiling-red-haired-millennial-260nw-1194497251.jpg">
            </ion-avatar>
            <ion-label>
              <h2>Listen, Good Product Ever seen.</h2>
              <!-- <h4>Finn</h5> -->
              <p>Mr.Gaurav K</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img
                src="https://image.shutterstock.com/image-photo/portrait-smiling-red-haired-millennial-260nw-1194497251.jpg">
            </ion-avatar>
            <ion-label>
              <h2>Listen, Good Product Ever seen.</h2>
              <!-- <h4>Finn</h5> -->
              <p>Mr.Gaurav K</p>
            </ion-label>
          </ion-item>


        </ion-list>
      </ion-col>
    </ion-row>

    <!-- <h4>You May Also Like</h4>
    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide>
        <ion-card>
          <img
            src="https://rukminim1.flixcart.com/image/714/857/k47cgi80/jacket/e/z/k/s-58452101-puma-original-imafn2dvgprxsvsb.jpeg?q=50" />
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <img
            src="https://rukminim1.flixcart.com/image/714/857/k47cgi80/jacket/e/z/k/s-58452101-puma-original-imafn2dvgprxsvsb.jpeg?q=50" />
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <img
            src="https://rukminim1.flixcart.com/image/714/857/k47cgi80/jacket/e/z/k/s-58452101-puma-original-imafn2dvgprxsvsb.jpeg?q=50" />
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <img
            src="https://rukminim1.flixcart.com/image/714/857/k47cgi80/jacket/e/z/k/s-58452101-puma-original-imafn2dvgprxsvsb.jpeg?q=50" />
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <img
            src="https://rukminim1.flixcart.com/image/714/857/k47cgi80/jacket/e/z/k/s-58452101-puma-original-imafn2dvgprxsvsb.jpeg?q=50" />
        </ion-card>
      </ion-slide>


    </ion-slides> -->
  </ion-card>


  <ion-card style="position: fixed;
bottom: 0;
width: 100%;
background: white;
margin:0;
padding:0">
    <ion-card-content style="padding-bottom: 0;">
      <ion-row *ngIf="!fromCart">
        <ion-col size="6" class="p0">
          <ion-button expand="block" fill="outline" style="width: 95%;" class="checkout-btn">Buy Now</ion-button>
        </ion-col>
        <ion-col size="6" class="p0">
          <ion-button expand="block" style="width: 95%;" class="butn bg-color">Add To Cart
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>


</ion-content>

<!-- <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Product description
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{product.discription}}</p>
          </mat-expansion-panel>
        </mat-accordion> -->