<ion-button class="white ion-activatable" fill="clear"  (click)="goToCartPage()">
  <ion-icon name="cart" style="font-size:22px !important;    margin-right: -5px;"></ion-icon>
  <ion-badge color="success" style="    border-radius: 35px;
  width: 20px;
  margin-top: -11px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;">{{cartCount}}</ion-badge>
  <ion-ripple-effect></ion-ripple-effect>
</ion-button>
<!-- <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon> -->
<!-- <ion-button id="cart-btn"  (click)="cart()">
    <ion-icon name="cart"></ion-icon>
    <ion-badge id="cart-badge">260k</ion-badge>
</ion-button> -->